@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.NET MVC ft. Vue-i18n sample</h1>
    <p>{{ $t("hello_world") }}</p>
    <p>{{ $t("hello_world") }}</p>
    <p>{{ $t("hello_world") }}</p>
    <p>{{ $t("only_english") }}</p>
</div>

<select v-model="chosenLanguage" @@change="switchLocale">
    <option value="en-us">English</option>
    <option value="ja-jp">日本語</option>
    <option value="zh-tw">繁體中文</option>
</select>